// 색상
$color-bg: #f1f1e9;
$color-point: #f9bf15;
$color-black: #252525;
$color-white: #fff;
// f1f1e9
// f6c771

// 레이아웃
$max-width: 1920px;
$max-inner-width: 1200px;

// 반응형
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
