@use "variables" as *;
@use "mixins" as *;

.logo {
    &__text {
        display: inline-flex;
        align-items: baseline;
        font-weight: 700;
        line-height: 1;
        color: $color-white;
        transform: skewX(-20deg);
        font-size: 15px;

        @include responsive(tablet) {
            font-size: 13px;
        }

        .text {
            &__letter {
                display: block;
                text-transform: uppercase;

                &.upper {
                    font-size: 2.2em;
                    letter-spacing: -0.14em;
                }
            }

            &__in {
                display: inline-flex;
                position: relative;
                transform: translateY(-2px);

                @mixin logo-border($top: null, $bottom: null, $origin: null) {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: $top;
                    bottom: $bottom;
                    height: 1px;
                    background: $color-white;
                    transform-origin: $origin;
                    border-radius: 1px;
                    content: "";
                }

                &::before {
                    @include logo-border($top: -2px, $origin: left center);
                    @include responsive(tablet) {
                        top: -2px;
                    }
                }

                &::after {
                    @include logo-border($bottom: -2px, $origin: right center);
                    @include responsive(tablet) {
                        bottom: -1px;
                    }
                }
            }
        }
    }
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 5px 20px;
    background-color: $color-point;
    z-index: 11111;

    animation: introFinalView 2s ease 3.2s forwards;

    $bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &__textBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(5.5, 5);

        @include responsive(tablet) {
            transform: translate(-50%, -50%) scale(4.5, 4);
        }

        @include responsive(tablet) {
            transform: translate(-50%, -50%) scale(3, 2.5);
        }

        .logo {
            &__text {
                overflow: hidden;
                padding-right: 5px;

                .text {
                    &__letter {
                        opacity: 0;
                        transform: translate(50%);

                        @for $i from 1 through 7 {
                            &:nth-child(#{$i}) {
                                animation: introLetter
                                    0.25s
                                    $bounce
                                    forwards
                                    (0.3s * $i);
                            }
                        }

                        &.upper {
                            transform: translate(0, 150%);
                            animation: introLetter 1s $bounce forwards;
                        }
                    }

                    &__in {
                        &::before,
                        &::after {
                            transform: scaleX(0);
                            animation: introLine 0.5s ease 2.3s forwards;
                        }
                    }
                }
            }
        }
    }

    &__subText {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        text-align: right;
        color: $color-white;
        opacity: 0;
        transform: translate(10px, -3px) skewX(-50deg);
        animation: introPortfolio 1s $bounce 2.7s forwards;
    }

    @keyframes introLetter {
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 0);
            opacity: 1;
        }
        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes introLine {
        100% {
            transform: scaleX(100%);
        }
    }

    @keyframes introPortfolio {
        30% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: translate(0px, -3px) skewX(-20deg);
        }
    }

    @keyframes introFinalView {
        100% {
            transform: translateY(-101%);
        }
    }
}

.markText {
    position: relative;

    span {
        position: relative;
        z-index: 1;
    }

    &::after {
        position: absolute;
        left: -2px;
        right: -2px;
        top: 60%;
        bottom: 0;
        background: rgba($color-point, 0.5);
        border-radius: 12px;

        content: "";
    }
}

.companyItem {
    margin-bottom: 12px;
    padding: 5px;
    background: rgba($color-white, 0.5);
    border-radius: 3px;

    &__title {
        display: flex;
        align-items: baseline;
        gap: 3px;
        margin-bottom: 5px;

        .markText {
            font-size: 15px;
            font-weight: 500;
        }
    }

    &__category {
        font-size: 12px;
        font-weight: 300;
    }

    &__row {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 4px;
        font-size: 13px;
    }

    &__period {
        font-size: 12px;
        color: rgba($color-black, 0.7);
    }

    &__detail {
        margin-top: 8px;
        padding-top: 5px;
        border-top: 1px dashed #000;
        font-size: 13px;
        li {
            display: flex;
            margin-top: 3px;
            gap: 3px;
            letter-spacing: -0.05em;

            &::before {
                content: "-";
            }
        }
    }
}

.skillItem {
    margin-bottom: 8px;

    .markText {
        font-size: 15px;
        font-weight: 700;
    }

    &__detail {
        margin-top: 3px;

        li {
            display: flex;
            gap: 3px;
            font-size: 13px;
            line-height: 1.5;

            &::before {
                content: "-";
            }
        }
    }
}

.portfolio {
    &__main {
        .portfolioMain {
            &__filter {
                display: flex;
                margin-bottom: 30px;
                gap: 10px;
                overflow-x: auto;

                @include responsive(mobile) {
                    margin-bottom: 15px;
                }

                &-btn {
                    display: block;
                    min-width: 70px;
                    padding: 5px 10px;
                    border: 1px solid $color-black;
                    font-size: 16px;
                    border-radius: 3px;
                    transition: all 0.15s ease;

                    @include responsive(tablet) {
                        font-size: 14px;
                    }

                    @include responsive(mobile) {
                        min-width: 50px;
                        padding: 3px 6px;
                        font-size: 14px;
                    }

                    &.active,
                    &:hover {
                        border-color: $color-point;
                        color: #fff;
                        background-color: $color-point;
                    }
                }
            }
            &__listBox {
                padding-bottom: 30px;
                border-bottom: 1px dashed $color-black;
                margin-bottom: 30px;

                @include responsive(mobile) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }

                &:last-of-type {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }

                &-company {
                    display: inline-block;
                    margin-bottom: 15px;
                    padding: 2px 4px;
                    font-size: 16px;
                    font-weight: 300;
                    background-color: $color-gray;
                    border-radius: 2px;

                    @include responsive(mobile) {
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }

                &-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 15px;

                    @include responsive(desktop) {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include responsive(tablet) {
                        gap: 10px;
                    }
                }
            }
        }
    }
}

.portfolio__item {
    a {
        position: relative;
        display: block;
        padding-top: 113.314%;
        border-radius: 3px;
        overflow: hidden;
    }

    &-images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-name {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 15px;
        color: #fff;
        text-align: center;
        background: rgba($color-black, 0.7);

        @include responsive(mobile) {
            font-size: 13px;
        }
    }

    &-job {
        position: absolute;
        top: 7px;
        left: 7px;
        padding: 1px 2px;
        font-size: 12px;
        color: $color-blue;
        background-color: $color-white;
        border-radius: 2px;

        @include responsive(mobile) {
            font-size: 11px;
        }
    }
}
